.map-wrap {
    position: relative;
    width: 96%;
    height: 50%;
    height: calc(100vh - 20px); /* calculate height of the screen minus the heading */
  }
  
  .map {
    position: absolute;
    width: 95%;
    height: 20%;
  }

  
