@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: "Gries";
    src: url("../src/assets/fonts/Gries.otf");
}
@font-face {
    font-family: 'n27regular';
    src: url('../src/assets/fonts/n27-regular-webfont.eot');
    src: url('../src/assets/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/assets/fonts/n27-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/n27-regular-webfont.woff') format('woff'),
         url('../src/assets/fonts/n27-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.slick-dots li button:before {
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #fff;
    font-size: 16px;
  }
  
  .slick-prev:hover:before,
  .slick-next:hover:before {
    color: #fff;
  }
  
  .slick-prev {
    left: 15px;
  }
  
  .slick-next {
    right: 15px;
  }
  
  .slider-wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }